### Tuples are typically used for handling heterogeneous data.

The heterogeneous data is enclosed with ()

Generally, Tuples are same a List but List is mutable means we can change or modify the items of list,
But Tuple is immutable. So one can call the tuple as a constant list.

In [31]:
a = ()     # Creates a Empty Tuple
b = (10,)  # tuple with one item,  comma after the 10 is necessary

In [64]:
# if comma is not given then,
c = (10,)
print(type(c))
# type of c is int not a tuple

<class 'tuple'>

In [65]:
d = ('John',30,67.90)   # tuple with multiple items

In [66]:
# while initalizing a tuple, we may drop ()
d = 'John',30,78.90
print(type(d))

<class 'tuple'>

In [67]:
# To create the Tuples, we can use built-in function tuple().

tpl1 = tuple('John Wick')
tpl2 = tuple([10,20,30,40,50])
tpl3 = tuple((x**2) for x in range(5))
tpl4 = tuple(range(5))
print(tpl1)
print(tpl2)
print(tpl3)
print(tpl4)

('J', 'o', 'h', 'n', ' ', 'W', 'i', 'c', 'k')
(10, 20, 30, 40, 50)
(0, 1, 4, 9, 16)
(0, 1, 2, 3, 4)

### Accessing Tuple Elements

In [68]:
# Like String and List, tuple items too can be accessed using indices, as all of them are sequence type

msg = ('Temp','is','High')
print(msg[0])
print(msg[2])

Temp
High

In [69]:
# Like Strings and Lists, Tuples too can be sliced to yeild smaller tuples
print(msg[1:3])

('is', 'High')

In [ ]:
# Entire tuple can be printed by just using the name of the tuple.
tp = ('John',30,67.90)
print(tp)

In [70]:
# Like Strings and Lists, tuples too can be iterated using a for loop

tpl = (10,20,30,40,50)
for n in tpl:
    print(n,end=" ")

10 20 30 40 50

### Tuple Operations

In [71]:
# Unlike lists, tuples are immutable

tpl = (10,20,30,40,50)
tpl[0] = 100   # Error

TypeError: 'tuple' object does not support item assignment

In [72]:
tpl[1:3] = (300,400)   # Error

TypeError: 'tuple' object does not support item assignment

In [74]:
# Tuples can contain mutable objects like lists
# immutable string- all can belong to tuple

s = ([1,2,3,4],"Titanic")

In [73]:
# Items in a tuple can be repeated, ie tuple may contain duplicate items.
tpl = (10,20,30,40,30,30)
print(tpl)

(10, 20, 30, 40, 30, 30)

In [76]:
tpl = (10,20,30,40,50,60)
print(100 in tpl)      # returns True Since 20 is present in tuple tpl
print(22 not in tpl)  # return False Since 22 is not present in tuple tpl
print(len(tpl))       # return number of items in tuple tpl

False
True
6

In [77]:
t = tuple('Africa')   # converts the string to tuple
print(t)

('A', 'f', 'r', 'i', 'c', 'a')

In [78]:
t = (4,32,56,13,45,76,34)
print(max(t))     # return maximum element in tuple t
print(min(t))     # return minimum element in tuple t
print(sorted(t))  # return sorted tuple, t remains unchanged
print(sum(t))     # return sum of all elements in tuple t
print(t.index(13)) # return index of item 13

76
4
[4, 13, 32, 34, 45, 56, 76]
260
3

In [79]:
t = (4,32,56,47,45,32,34)
print(t.count(32))

2

In [22]:
# Since, tuples are immutable, operations like append, remove and insert do not work with tuple.

In [80]:
# It is possible to concate two tuples. This can be done in multiple ways as shown below
t1 = (1,2,3,4)
t2 = (5,6,7,8)
# tuples can be concatenated to create a new tuple
t3 = t1 + t2             # t3 is now (1,2,3,4,5,6,7,8)
t4 = t1 + (10,20,30)     # t4 is now (1,2,3,4,10,20,30)   
print(t3)
print(t4)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 10, 20, 30)

In [81]:
# Tuple individual element cannot be changed, but t1 can be made to refer to a new tuple

t1 = t1 + t2
print(t1)

(1, 2, 3, 4, 5, 6, 7, 8)

In [82]:
# Tuple can be unpacked like lists
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t5 = (*t1,*t2)   #  t5 = (1,2,3,4,5,6,7,8)
print(t5)

(1, 2, 3, 4, 5, 6, 7, 8)

In [83]:
# But if we use, t1 and t2 without *, then
t6 = (t1,t2)
print(t6)

((1, 2, 3, 4), (5, 6, 7, 8))

In [84]:
# It is possible to reverse a tuple.
# Tupple being immutable, this is not in-place reversal.
# Reversal can be done in two ways shown below,

t1 = tuple('Mumbai')
t1 = tuple(reversed(t1))
print(t1)

('i', 'a', 'b', 'm', 'u', 'M')

In [85]:
# OR
t1 = tuple('Mumbai')
t1 = t1[::-1]
print(t1)

('i', 'a', 'b', 'm', 'u', 'M')

In [89]:
# It is possible to compare two tuples. Comparision is done item by item till there is a mismatch.

print((10,20,40)<(10,20,30))

False

## More on Tuple

In [90]:
# It is possible to create a tuple of tuples.
a = (1,2,3,4,5)
b = (5,6,7,8)
c = (a,b)
print(c)

((1, 2, 3, 4, 5), (5, 6, 7, 8))

In [ ]:
print(c[1][2])   # Which Element get printed?

In [91]:
# A Tuple may be embedded in another tuple
x = (1,2,3,4)
y = (10,20,x,30)
print(y)

(10, 20, (1, 2, 3, 4), 30)

In [92]:
# It is possible to unpack a tuple within a tuple using * operator
x = (1,2,3,4)
y = (10,20,*x,30)
print(y)

(10, 20, 1, 2, 3, 4, 30)

In [93]:
# Ex - Pass a Tuple to the divmod function and obtain the quotient and remainder
t1 = (25,3)
q,r = divmod(*t1)
print(q,r)

8 1

# BEST OF LUCK